<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoboDesk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <RoboDesk.Properties.Settings>
            <setting name="DbLocation" serializeAs="String">
                <value>C:\Apps\RoboWaiter200606\db\Robo.s3db</value>
            </setting>
            <setting name="TransitionSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="QrCodeLocation" serializeAs="String">
                <value>C:\Desktop\Pictures\QR</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="ProductPictureLocation" serializeAs="String">
                <value>C:\Users\Valentina\source\repos\TestNodeJs\appserver\img\products</value>
            </setting>
        </RoboDesk.Properties.Settings>
    </userSettings>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        
        
        <bindingRedirect oldVersion="4.0.20141.570" newVersion="4.0.20141.570"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Themes.4" culture="neutral" publicKeyToken="594a0605db190bb9"/>
        <!--oldVersion should equal "4.0.20141.51"  newVersion should be set to the current version in your project to avoid build errors -->
        <bindingRedirect oldVersion="4.0.20141.51" newVersion="4.0.20141.570"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1SuperTooltip.4" culture="neutral" publicKeyToken="79882d576c6336da"/>
        <!--oldVersion should equal "4.0.20141.137"  newVersion should be set to the current version in your project to avoid build errors -->
        <bindingRedirect oldVersion="4.0.20141.137" newVersion="4.0.20141.570"/>
      </dependentAssembly>
    </assemblyBinding>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="C1.Win.C1Input.4" culture="neutral" publicKeyToken="7e7ff60f0c214f9a"/>
          <!--oldVersion should equal "4.0.20141.33362"  newVersion should be set to the current version in your project to avoid build errors -->
          <bindingRedirect oldVersion="4.0.20141.33362" newVersion="4.0.20141.570"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime></configuration>
